@{
    ViewBag.Title = "Disk";
}

<h1 class="mb-3">@Model.Name</h1>
<div class="row mb-3">
    <div class="container-fluid d-flex flex-wrap">
        @foreach (var directory in Model.Directories)
        {
            <a href="@Url.Action("Folder", "Home", new { id = directory.Id })">
                <div class="panel panel-default mr-3">
                    <div class="panel-body"><img src="~/media/images/folder.png" /></div>
                    <div class="panel-footer text-center">@directory.Name</div>
                </div>
            </a>
        }
    </div>
</div>
<div class="row container-fluid mb-3">
    @using (Html.BeginForm("AddNew", "Home", FormMethod.Post))
    {
        <div class="input-group">
            <span class="input-group-addon">Naziv novog foldera</span>
            <input id="name" type="text" class="form-control" name="name" required>
            <input id="parent" type="hidden" value="@Model.Id" name="parent">
            <button class="btn btn-primary ml-3">Dodaj folder u @Model.Name</button>
        </div>
    }
</div>

@if (Model.Id != 0)
{
    <div class="row container-fluid mb-3">
        @using (Html.BeginForm("Rename", "Home", FormMethod.Post))
        {
            <div class="input-group">
                <span class="input-group-addon">Novi naziv foldera</span>
                <input id="name" type="text" class="form-control" name="name" required>
                <input id="id" type="hidden" value="@Model.Id" name="id">
                <button class="btn btn-primary ml-3">Preimenuj @Model.Name folder</button>
            </div>
        }
    </div>
}